/* EVENTS */

.ui-widget-header.ui-widget-header {
	background-image: none;
	background-color:$light-gray;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background-color:darken($light-gray, 5%) !important;
}

#main .fc-header td {
	display:block;
	width:100%;
	text-align:left;

	@include breakpoint(laptop) {
		display:inline-block;

		&.fc-header-left, &.fc-header-right {
			width: 25%;
		}

		&.fc-header-right {
			text-align: right;
		}

		&.fc-header-center {
			width: 48%;
			text-align:center;
		}
	}
}

.eventorganiser-event-meta {
	h4 {
		border-bottom:1px solid $text-color;
	}
}

.widget {
	
	.eo-agenda-widget ul.dates,
	.eo-agenda-widget li.date {
		border:none;
	}

	.eo-agenda-widget {
		position: relative;

		.agenda-nav {
			position:absolute;
			bottom:-.5em;
			right:0;
		}	
	}
}

.mar-right {
	margin-right: .5em;
}

#eo-event-cat {
	height:auto;
	padding:.2em;
	font-size:.9em;
}

.entry-meta {
	clear:both;

	.button {
		margin:0 2em .5em 0;
	}
}

/* .event-entry-meta {
	.eo-event-meta {
		float:right;
	}
	
	p {
		width:58%;
		float:left;
	}
} */

.entry-header {
	position: relative;

	a, a:visited {
		text-decoration: none;
	}
	
	a.datetime {
		position:absolute;
		left:0;
		top:0;
		display: inline-block;
		width:80px;
			height:80px;
			margin-left: -90px;
	}
	time {
			font-size: 1.6em;
			font-family: $serif;
			font-style: italic;
			color:$white;
			background:$teal;
			border-radius:50%;
			width:80px;
			height:80px;
			line-height: .9em;
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			

		.day, .month {
			display: block;
		}
		
	}

}

ul.eo-event-meta {
	list-style:none;

	li {
		padding-left: 0;
	}

}

.eo-events-widget a {
	border: none;
}

.event .entry-title {
	vertical-align:top;

	.title.with-thumb {
		display:inline-block;
		width:70%;
		vertical-align: top;
	} 
}

.title-thumb {
	width:25%;
	display:inline-block;
	vertical-align:top;

	img {
		margin:0;
	}
}

.event-time {
	background-color:$teal;
	border-radius:.3em;
	padding:.2em;
	width: 20%;
	display:inline-block;
	text-align:center;
	vertical-align:top;
	color:$white;
	margin-right:.5em;

	font-size:.9em;
}

.event-title {
	display:inline-block;
	width:75%;

	.learnmore {
		display: inline-block;
		margin-left: .5em;
		font-size: .8em;
		text-decoration: underline;
	}
}

