#wpadminbar .ab-top-secondary {
	float:none;
}
body {
	height:100%;
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
  	-webkit-font-smoothing: antialiased;
  	background-color:$white;
  	font-weight: 400;
}

.hide {
	display:none;
}

.wrap {
	width: 92%;
	margin: 0 auto;
	position:relative;


	@include breakpoint(tablet) {
		max-width: 760px;
	}

	@include breakpoint(laptop) {
		max-width: 1030px;
	}

	@include breakpoint(tv) {
		max-width: 1300px;
	}
}

#content {
	margin-top:3.25em;
}
#inner-content {
	padding:1.677em 0;

}

.header {
	background-color: rgba(4, 93, 122, 0.76);
	color:$white;
	padding:0;
	overflow:visible;
	box-shadow:  0px 3px 0px 0px $light-gray;

	.logo-mark {
		position:absolute;
		top:0;
		left:-4%;
		margin:0;
		z-index: 10;
	}
}


#logo {
	margin: 0 4% 0 0;
	color: $white;
	font-size:3rem;
	border: none;
	line-height:.9em;
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight: 300;
	width:100%;
	float:left;
	position:relative;
	z-index:88;

	@include breakpoint(tablet) {
		width:55%;
	}

	img {
		padding:0;
		margin:0;
	}
}

.site-description {
	font-size:1.5rem;
	line-height:1em;
	margin-bottom: .25em;
	text-transform: none;
	display:block;
	letter-spacing: normal;
}

.head-widget {
	display:none;
	
	@include breakpoint(tablet) {
		display:inline-block;
		width:40%;
		float:right;
		text-align:right;
		font-family:$serif;
		font-style:italic;
		font-size:1.3em;
		color:darken($blue, 20%);
		position:relative;
		z-index:87;
	
	}
}

/*********************
LINK STYLES
*********************/

a, a:visited {
  color: $link-color;
  text-decoration: none;

  /* on hover */
  &:hover, &:focus, &:active {
    color: $link-hover;
    font-weight: bold;
    -webkit-transition:all 0.3s ease;
	  -moz-transition:all 0.3s ease;
	  -ms-transition:all 0.3s ease;
	  -o-transition:all 0.3s ease;
	  transition:all 0.3s ease;
  }

  /* on click */
  &:active {

  }

  /* mobile tap color */
  &:link {

    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }

  &.imglink {
  	 border: none;
  }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  text-rendering: optimizelegibility;
  font-weight: 300;
  margin:0 0 .675em 0;
  line-height: 1.133em;
  font-family: $title-family;
  
  a, a:visited, .hentry & a {
    text-decoration: none;
  }
}

h1, .h1 {
  font-size: 2.25em;

}

h2, .h2 {
  font-size: 1.9em;
   font-weight: 700;
   color:$red;
}

h3, .h3 {
  font-size: 1.6em;
  font-weight: 700;
}

h4, .h4 {
  font-size: 1.5em;
  font-weight: 700;
  color:$teal;
}

h5, .h5 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

h6 {
  font-size: 1.3em;
  font-weight:700;
}

.single-title,
.page-title,
.entry-title {
	margin: 0 0 .5em 0;
}

.page-title, .archive-title, .single-title {
	font-size:2.5em;

	em {
		font-family: $serif;
	}
}

.entry-title {
	font-size:2.3em;

	a {
		border-bottom:none;
	}
}

.title-bg {
	background-color: $teal;
	color:$white;
	padding: .25em .5em;
	margin-left:-1em;
	font-weight: normal;

	a, a:visited {
		color:$white;
	}

	&.red {
		background-color: $red;
	}
}

p {
	margin: 0 0 1.677em;
}


.searchform {
	position:relative;

	label {

	}
	input {
		display: inline-block;
	}
}

.archive.tax-character {
	h3 {
		clear:both;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

.shareaholic-share-buttons-wrapper {
	&:before {
		content: 'Share the love!';
		position: absolute;
		top:0;
		left:3em;
		font-style: italic;
		font-size:1.1em;
		font-family: $serif;
	}
}
.cat-desc {
	margin-bottom:1.677em;
	font-size:1.1em;
}
ul, ol {
	li {
		margin-bottom: .5em;
	}
}

.hentry {
	margin-bottom: 1.5em;
	border-bottom:1px dotted $light-gray;
	padding-bottom:1.5em;

	p:last-child {
		margin-bottom: 0;
	}

	&:last-of-type {
		padding-bottom:0;
		border-bottom:none;
	}

	a, a:visited {
		text-decoration: underline;
		

		&:hover {
			font-weight: bold;

		}
	}

	footer {
		

		p {
			margin: 0;
		}
	}

} /* end .hentry */



/* post meta */
.byline {
	color: $meta-color;
	font-style: italic;
	margin: 0;

	time {}
}



/* entry content */
.entry-content {
	padding: 0;

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-color;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}

} /* end .entry-content */

#breadcrumbs {
	font-size:.9em;
	margin:-3.25em 0 1em 0;
	display:inline-block;
	float:right;
	text-transform: lowercase;

	.home & {
		display: none;
	}
}

blockquote {
	margin: 0 0 1.5em -3.75em;
    padding: 0 0 0 4.5em;
	color: $meta-color;
	font-family:$serif;
	position: relative;
	font-size:1.1em;

	:last-child {
		margin-bottom: 0;
	}

	&:before {
		content:'\f10d';
		font-family: "FontAwesome";
		font-size:3em;
		position:absolute;
		left:0;
		top:0;
		line-height:1em;
	}

}

.excerpt-read-more {
	margin-top:.1em;
}

img {
	margin: 0 0 1.5em 0;
	max-width: 100%;
	height: auto;
}

.accordion {
	.outer {
		display: none;
	}
}
a.trigger, .switch a {
	outline:0;

	&.active, &.focus {
		outline: 0;
	}
} 
.switch {
	display:inline-block;
	float:right;
	margin-bottom:.5em;
}

.excol {
	clear:both;
	margin-bottom:0;
}

.trigger {

	&:before {
		content:'\f196';
		font-family: "FontAwesome";
		margin: 0 10px 0 -25px;
	}

	&.open:before {
		content:'\f147';
		font-family: "FontAwesome";
	margin: 0 10px 0 -25px;
	}

}

.outer {
	margin-left:25px;
}

.question {
	font-size:1.1em;
	a, a:visited {
		color:$light-blue;
		font-weight: 700;
	}
	
	/* &:before {
		content: 'Q:';
		font-size: 1.5em;
		font-weight: bold;
		margin:0 15px 0 -40px;
	} */
}

.answer {
	margin-bottom:1em;
	/* position: relative;

	&:before {
		content: 'A:';
		font-size: 1.5em;
		font-weight: bold;
		position:absolute;
		left:-40px;
		top:0;
	} */
}

/* HUMP DAY */
.cover {
	float:left;
	margin:0 1.5em 0 0;
	display:inline-block;

	img {
		padding:0;
		margin:0;
	}
}

.hump-item {
	vertical-align:top;
	border: 1px solid $gray;
	border-radius:.5em;
	padding:1em;
	margin:0 0 1.5em 0;
	display:inline-block;
	width:100%;
	word-wrap: break-word;

	@include breakpoint (tablet) {
		width:47%;
		margin:0 4% 1.5em 0;

		&:nth-of-type(even) {
			margin-right:0;
		}
	
	}

	
	p {
		margin-bottom: .5em;
	}
}
/*
Align all images center for smallest screens
*/
.alignleft, img.alignleft, 
.alignright, img.alignright,
.aligncenter, img.aligncenter { 
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;

	@include breakpoint(tablet) {
		
		margin-bottom: .677em;

	}
}

.alignleft, img.alignleft {
	@include breakpoint(tablet) {
		margin-right: 3em;
		float: left;
		display: inline;
		margin-left:-10%;
		margin-bottom:1.677em;
		max-width:42%;
	}
}

.alignright, img.alignright {
	@include breakpoint(tablet) {
		margin-left: 1.5em;
		float: right;
		display: inline;
		max-width:42%;
	}
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	width:100%;
	overflow: hidden;
	margin-bottom:1.677em;

	iframe, object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.wp-caption, .html5-captions .wp-caption {
	max-width: 100%;
	background: $light-gray;
	padding: .2em;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

} /* end .wp-caption */

.wp-caption-text {
	font-size: 0.85em;
	margin: .2em 0 .3em;
	text-align: center;
	font-style:italic;
}

/* image gallery styles */
.gallery {

} 

.gallery-item {
	display:inline-block;
	margin:0 2% 1em 0;
	width:100%;
	vertical-align:top;
	text-align:center;

	img {
		margin-bottom: 0;
	}

	@include breakpoint(tablet) {
		width:49%;
			&:nth-child(2n+2) {
			margin-right: 0;
		}
	}
}

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

// the tag output
.tags {
margin: 0;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
.pagination{
	text-align: center;

	ul {
	  display: inline-block;
	 
	  white-space: nowrap;
	  padding: 0;
	  clear: both;
	  border-radius: 3px;
	}

	li {
	  padding: 0;
	  margin: 0 .2em 0 0;
	  float: left;
	  display: inline;
	  overflow: hidden;
	  	 background-color: $blue;

	}

		a, span {
			margin:0;
		  text-decoration: none;
		  padding: 0;
		  line-height: 1em;
		  font-size: 1em;
		  font-weight: normal;
		  padding: 0.75em;
		  min-width: 1em;
		  display: inline-block;
		  color: $white;
		   background-color: $blue;

		  &:hover, &:focus {
		  	background-color: $red;
		  	color: $white;
		  }
	}

	.current{
		cursor: default;
		background-color: $light-gray;

		&:hover, &:focus {
			background-color: $light-gray;
			color: $white;
		}
	}

} /* end .bones_page_navi */

/* fallback previous & next links */
.wp-prev-next {

	ul {}

	.prev-link {
		float: left;
	}

	.next-link {
		float: right;
	}

} /* end .wp-prev-next */


/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color:rgba(43, 0, 17, 0.9);
	color: $light-gray;
	padding:1em 0;
	font-size:.9em;
	min-height:300px;

	p {
		margin-bottom: .677em;
	}

	a, a:visited {
		color:$gray;
		border-color: $gray;
	}
}

#inner-footer {
	background: url('../images/logo-jk.png') bottom right no-repeat;
}

.organization-address, .copyright {
	text-align: center;
	margin:0 auto .5em;
	
	@include breakpoint(laptop) {
		margin:0 0 .5em;
		text-align: left;
		display:inline-block;

		& > div {
			display:inline-block;
		}
	}
}

.contact {
	margin-top:.5em;

	.item {
		display: inline-block;
		margin-right: 1em;
		padding-right: 1em;
		border-right: 1px solid $gray;
		line-height: 1em;

		&:last-of-type {
			border-right:none;
			margin-right:0;
			padding-right:0;
		}
	}
}

.order-page {
	width: 47.5%;
	margin-right:5%;

	&:nth-of-type(2n) {
		margin-right:0;
	}
}

ul, ol {
	&.indent {
		margin-left:1.5em;
		display: inline-block;
		max-width:50%;
	}
}

.shortcode-content {
	display:inline-block;
	margin-bottom: 1em;
	width:61%;

	p {
		margin-bottom: .1em;
	}
}

.book-deets {
	background-color:lighten($red, 5%);
	padding:1em;
	margin-bottom:1em;
	color:$white;

	.permalink {
		margin-bottom: 0;
		color:$white;
		font-weight: 700;

		&:before {
			color:$white;
		}
	}

	h6 {
		margin-bottom: .5em;
		font-weight: normal;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}


.permalink {
	display:inline-block;
	margin-bottom:.677em;
	position:relative;
	font-weight: 700;

	&:before {
		font-family: 'FontAwesome';
		content:'\f0c1';
		display: block;
		position:absolute;
		left:-1.5rem;
	}

	&.after {
		&:before {
			font-family: 'FontAwesome';
			content:'\f0c1';
			display: block;
			position:absolute;
			right:-1.677rem;
			left:auto;
			font-size: .8em;
		}
	}
}

.buyblock {
	
	display:inline-block;
	vertical-align:top;
	margin-bottom:1.677em;


	h4, ul {
		width:60%;
		display: inline-block;
		float:left;
	}
	.cover {
		width:35%;
		display: inline-block;
		float:left;
		margin-right: 4%;

		span {
			display: block;
			margin-bottom: .2em;
			font-size:.7em;
			line-height:1.1em;
		}
		.cover-caption {
			font-size:.85em;
			margin-bottom:1em;

			.sidebar & {
				display: none;
			}
		}
	}

	li {
		list-style: none;
	}

	&.short {
		float:right;
		display: inline-block;

	}

	&.fullimage {
		width: 50%;

		@include breakpoint(tablet) {
			width: 26%;			
		}

		&.smallimg {
			width:48%;

			@include breakpoint(phablet) {
				width: 31%;			
			}

			@include breakpoint(tablet) {
				width: 18%;			
			}
		}

		.cover {
			width:100%;
			margin:0 auto;
			text-align: center;
		}

		.imglink {
			display: inline-block;
			max-width: 100%;
		}
	} 
}

.book-section {
	.buyblock {
		text-align: center;

		.order-options {
			display:inline-block;
			margin:0 auto;
		}
	}
}

.serieslist {
	margin-bottom:1.677em;
	
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-box;
	display: flex;
  
	-webkit-flex-flow: row wrap;
	justify-content: flex-start;
	flex-shrink:0;

	-webkit-flex-wrap: wrap;
  	flex-wrap: wrap;

	& > div {
		display: inline-block;
		vertical-align: top;
		max-width: 100%;
	}

	.buyblock .cover {
		width:100%;
		margin:0;
	}
}

.blurbs {
	clear:both;
	margin-bottom:1.677em;
}

.blurb {
	border-bottom: 1px dotted $yellow;
	padding-bottom:1em;
	margin-bottom:1em;

	&:last-of-type {
		border-bottom:none;
	}
}
.debug-id {
	display:none;
}

#wp-admin-bar-books .ab-icon:before{
	font-family: "dashicons" !important;
	content: "\f330" !important;
	font-size:.9em;
}

.book-section {
	clear:both;
	margin-bottom:1.677em;

	span {
		display:inline-block;
	}
}

.line-item {
	display:block;
	width:100%;
	position:relative;
	padding: .5em;
	background-color: $light-gray;

	&:nth-of-type(2n) {
		background-color:$white;
	}
}

.type {
	font-weight: 700;
	width:35%;
	margin-right:4%;
	
	&:after {
		content:':';
	}
}

.item {
	width: 60%;


	.comma-separated {
		display: inline-block;
		margin-right: .5em;
		position: relative;

		&:after {
			content:', ';
			border: none;
			text-decoration: none;
			position:absolute;
			right:-.3em;
			color:$black;
		}

		&:last-of-type {
			&:after {
				content:'';
			}

		}
	}
}

.more-links {
	a, a:visited {
		display: inline-block;
		margin-right:1.4em;
		padding-left: .5em;
		font-size:1.2em;
		font-weight: 700;
		position: relative;

		&:before {
			position: absolute;
			left:-.7em;
			content: '\f0ab';
			font-family: 'FontAwesome';
			text-decoration: none !important;
		}
	}
}

.short {
	position:relative;
	display:inline-block;
	width:61%;

	span {
		width:100%;
		display: inline-block; 
		text-align: left;

		.book-section & {
			text-align: center;
		}

		.sidebar & {
			text-align: left;
		}
	}

	img {
		margin-bottom: 0;
	}
	
	a, a:visited {
		display: inline-block;
		width:30%;
		margin-right:2%;
		max-width:42px;

		.sidebar & {
			max-width: 42px;

		}

		&:nth-of-type(3n) {
			margin-right: 0;
		}

		&.order-options {
			display:block;
			text-align: center;
			font-size:1em;
			font-weight:700;
			width:100%;
			margin:0;

			.sidebar & {
				max-width: 100%;
				background-color:transparent;
				text-align: left;
				color:$link-color;
				padding:0;
				position: relative;

				/* &:after {
					position: absolute;
					right:0;
					content:'\00BB';
					display: block;
				} */
			}
		}
	}
}

.fullimage .short {
	width:100%;
}

a

.quick-buy {
	text-align:center;
	color:$red;
	font-weight:700;
	margin-bottom:.5em;
}

.in-list {
	display:inline-block;
	margin-right: 1.8%;
}

.slick {
	margin-bottom:1.677em;
	display:none;

	img {
		@include breakpoint(tablet) {
	        width: 90%;
	        margin: 0 auto;
	        display: block;
	      }
	}

	&.bookstrip {

		.imglink {
			max-width: 162px;
		}

		img {
			margin:0;
			width:inherit;
			height: auto;
		}
	}

	.slick-prev, .slick-next {
		font-size: 0;
		line-height: 0;
		position: absolute;
		top: 50%;
		display: block;
		width: 3rem;
		height: 3rem;
		margin-top: -1.5rem;
		padding: 0;
		cursor: pointer;
		color: transparent;
		border: none;
		outline: none;
		background: transparent;

		&:before, &:after {
			font-size: 3rem;
			font-family: 'FontAwesome';
			line-height: 1;
			color:$red;
			
		}
	}

	.slick-prev {
      right:-3.5rem;
      left:auto;
     
      &:before {
        content:'\f054';
        color:$red;
        font-family: 'FontAwesome';
    	}
    }

  	
  	.slick-next {
      left:-3.5rem;
      right:auto;
      
      &:after {
      	content:'\f053';
        color:$red;
        font-family: 'FontAwesome';    
    	}
    }
    
}

.overlay {
  background-color: rgba(4, 93, 122, 0.7);
  display: block;
  padding:1em;
  position:absolute;
  bottom: 2em;
  width:100%;
  color:$white;
  text-shadow:2px 2px 2px $black;
  text-align: right;
  transition: all 1s ease;

  &.red {
    background-color: rgba(43, 0, 17, 0.8);
  }

  &.white {
    background-color: rgba(255, 255, 255, 0.8);
    color:$black;
    text-shadow: 1px 1px 1px $blue;
  }

  &.blue {
  	.button {
  		background-color:$red;
  	}
  }

  h3, p {
    display: inline-block;
    width:70%;
    vertical-align: middle;
    margin-bottom: 0;
  }

  h3 {
    font-size:2em;
  }

  .button {
    max-width: 20%;
    font-size:1.2em;
    text-transform:uppercase;
    display: inline-block;
    margin:.3em 0 0 .677em;
  }
}

.centerfeature {
	font-size:1.2em;
	color:$white;

	.slick-slide {

		padding:1em;
		background-color:$dark-red;
		border-radius:.5em;
		 -webkit-transition: all 0.6s ease; 
		          transition: all 0.6s ease; 

		img {
			width:98%;
			max-width: 200px;
			border:1px solid $white;
		}

		.button {
			background-color: $light-red;
			font-size: 1.2em;
		}
	
	
		h3 {
			font-size: 1.5em;
			display: inline-block;
			font-weight: 300;
		}

		&.centered {
			text-align: center;

			img {
				margin:0 auto 1em;
			}

			.text {
				width:90%;
				margin:0 auto;

				p {
					margin-bottom:0;
				}

				span {
					display: block;

				}
			}
		}

		&.imgleft {
			img {
				float:left;
				width: 20%;
			}

			.text {
				width: 70%;
				float:left;

			}
		}
	}

	@include breakpoint(tablet) {
		.slick-slide.slick-active {
		  -webkit-transform: scale(.9); 
		      -ms-transform: scale(.9); 
		          transform: scale(.9); 
		}
	}



.slick-center.slick-active.slick-slide  {
	-webkit-transform: scale(1); 
	      -ms-transform: scale(1); 
	          transform: scale(1); 
	  
	}
	
}



.count-3 {
	.slick-slide {
		margin: 0 .5em;
	
	  -webkit-transform: scale(1); 
	      -ms-transform: scale(1); 
	          transform: scale(1); 
	}



	.slick-center.slick-slide  {
	-webkit-transform: scale(.9); 
	      -ms-transform: scale(.9); 
	          transform: scale(.9); 
	  
	}
}

.back-to-top {
	display: none;
	background: none;
	margin: 0;
	position: fixed;
	bottom: 0;
	right: .25em;
	width: 70px;
	height: 70px;
	z-index: 100;
	text-decoration: none;
	color: $red;

	i {
		font-size:60px;
	}
}