/******************************************************************
Colors
******************************************************************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #053541;
$white:             #fff;

$light-gray:        #e0e0e3;
$gray:              #7e7e7e;

$light-red:			#8d7d8d;
$red:				#741d3d;
$dark-red:			#2b0011;

$yellow:            #ffc703;

$teal: 				#3F8298;
$light-blue:		#438094;
$blue:              #045d7a;

$purple:			#626375;

$link-color:        $red;
$link-hover:        darken($link-color, 9%);

$border-color:      $black;
$disabled-color:    $light-gray;

$text-color:        $black;
$meta-color:        $gray;