/******************************************************************
Typography
******************************************************************/

$sans-serif:        "Ek Mukta","Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Droid Serif", "Georgia", Cambria, Times New Roman, Times, serif;

$title-family:      $sans-serif;